{% extends 'admin/master.html' %}

{% block body %}
	<h1>Sign In</h1>
	<form action='' method='post' novalidate>
		{{ login_user_form.hidden_tag() }}
		<p>
			{{ login_user_form.email.label }}<br>
			{{ login_user_form.email(size=32) }}
			{% for error in login_user_form.email.errors %}
			<span style='color: red;'>[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ login_user_form.password.label }}<br>
			{{ login_user_form.password(size=32) }}
			{% for error in login_user_form.password.errors %}
			<span style='color: red;'>[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>{{ login_user_form.remember() }} {{ login_user_form.remember.label }}</p>
		<p>{{ login_user_form.submit() }}</p>
	</login_user_form>
{% endblock %}
